
#header {
    background: #1c1c1b;
    color: white;
    padding: 0 20px;
    margin: -10px 0 0 -10px;;
    width: 100%;
    position: fixed;
}
html {
    background:url("avengers.jpg") no-repeat fixed left top;
    background-size: cover; 
   
}
#body {
    
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to left,rgba(250,250,250,.3), rgba(102,51,153,.8));
}
html:hover {

}
#hero {
    padding: 200px 25px;
    color: white;
    
}
#left_box {
    width: 40%;
}
#left_box h1 {
    font-size: 60px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 0px;
    animation: text 3s 1;
}
@keyframes text {
    0% {
        color: black;
        margin-bottom: -40px;
    }
    30% {
        letter-spacing: 25px;
        margin-bottom: -40px
    }
    85% {
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}
#left_box h1:hover {
    font-size: 65px;
}
#left_box h3 {
    font-size: 25px;
    font-weight: 600;
    font-family: helvetica;
}
#left_box h4 {
    font-size: 25px;
    font-weight: 300;
    font-family: helvetica;
    margin-bottom: 0;
}
#left_box p {
    max-width: 70%;
    font-size: 18px;
    font-weight: 800;
}
#logo {
    background: red;
    margin-right: 25px;
    padding: 20px;
}
#purp {
    color: #8B008B;
    font-size: 70px;
    font-style: italic;
    font-weight: 900;
}
#lmenu ul, #rmenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#lmenu ul li, #rmenu ul li {
    display: inline-block;
    padding: 20px;
    color: white;
}
#lmenu li a, #rmenu li a{
    color: white;
    text-decoration: none;
    font-family: helvetica;
}
#lmenu li a:hover, #rmenu li a:hover {
    color:blue;
}
#rmenu {
    color:white;
    float: right;
    margin-right: 20px;
}
.hitem {
    display: inline-block;
    
}
#buttons {
    display: flex;
}
#button1, #button2 {
    padding: 10px;
    margin-right: 20px;
    cursor: pointer;
    border: 2px solid black;
    color: white;
}
#button1:hover, #button2:hover {
    background: black;
}
#button1 a,#button2 a {
    color: white;
    text-decoration: none;
}
#addMovies {
        
        color: white;
        height: 200px;
        display: flex;
        justify-content: space-around;
        margin-top: 15px;
}
.addmovie {
    background-image: url("blackpanther.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;     
    width: 300px;
    height: 200px;  
    font-weight: 100;
    font-style: italic; 
    font-size: 1.25rem;
    padding-top: 25px;
}

@media screen and (max-width: 560px) {
    #left_box {
        width: 90%;
    }
    #left_box h1 {
        font-size: 25px;
    }
    #rmenu {
        float: left;
    }
    #left_box p {
        max-width: 95%;
        font-size: 18px;
        font-weight: 800;
    }
    #addMovies {
        display: inline-block;
    }
    .addmovie {
        height: 150px;
        margin: 0 5px;
        bottom: 5px;
        width: 350px;   
    }
}