
#header {
    background: #1C1C1B;
    color: white;
    padding: 0 20px;
    margin: -10px 0 0 -10px;;
    width: 100%;
    position: fixed;
}
html {
    background:url("avengers.jpg") no-repeat left top fixed;
    background-size: cover; 
    transition: background-image .5s ease-in-out;
}
html:hover {

}
#hero {
    padding: 200px 25px;
    color: white;
    
}
#left_box {
    width: 40%;
}
#left_box h1 {
    font-size: 60px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 0px;
    animation: text 3s 1;
}
@keyframes text {
    0% {
        color: black;
        margin-bottom: -40px;
    }
    30% {
        letter-spacing: 25px;
        margin-bottom: -40px
    }
    85% {
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}
#left_box h1:hover {
    font-size: 70px;
}
#left_box h3 {
    font-size: 25px;
    font-weight: 600;
    font-family: helvetica;
}
#left_box h4 {
    font-size: 25px;
    font-weight: 300;
    font-family: helvetica;
    margin-bottom: 0;
}
#left_box p {
    max-width: 70%;
    font-size: 18px;
    font-weight: 800;
    background: -webkit-linear-gradient(#eee, #8B008B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#logo {
    background: red;
    margin-right: 25px;
    padding: 20px;
}
#purp {
    color: #8B008B;
    font-size: 70px;
    font-style: italic;
    font-weight: 900;
}
#lmenu ul, #rmenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#lmenu ul li, #rmenu ul li {
    display: inline-block;
    padding: 20px;
    color:
}
#lmenu li a, #rmenu li a{
    color: white;
    text-decoration: none;
}
#rmenu {
    color:white;
    float: right;
    margin-right: 20px;
}
.hitem {
    display: inline-block;
}
